<% if (tweet.comments.length > 0) {%>
<div class="col-md-6 m-auto">
      <div class="card card-body text-center">
            <% allComments.forEach( comment2 => {  %>
                  <% tweet.comments.forEach(comment =>{  %>
                        <% if (comment._id.equals(comment2._id)) { %> 
                        <div class="card text-white bg-success mb-3">
                              <div class="card-header"><%= comment2.creatorName %></div>
                              <div class="card-body">
                                    <h4 class="card-title"><%= comment2.message%></h4>
                                    <p class="card-text"><%= comment2.dateCreated.toDateString() %> <%= comment2.dateCreated.toTimeString().split(" ",1)%></p>
                              </div>
                        </div>
                        <% } %> 
                  <% }) %> 
            <% }) %>
      </div>
</div>
<% }else{ %>
<h3>No Comments for this tweet.</h3>
<% } %>