<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <div class="card text-white bg-dark mb-3" style="max-width: 40rem;"  >
          <div class="card-header"><h1>Ayush's Twitter App</h1></div>
          <div class="card-body">
            <h1><i class="fab fa-twitter-square fa-3x"></i></h1>
            <p class="card-text">Create an account or login</p>
          </div>
        </div>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>